@import url('https://rsms.me/inter/inter.css');

.App {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, #c4c6e9 0%, rgb(170, 207, 229) 80%);
}

h1 {
  text-align: center;
  color: #0081CF;
}

form {
  text-align: center;
}

.loginInput input[type=text], [type=password] {
  font-family: 'Inter', sans-serif;
  width: 75%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin: 0.5em auto;
  display: inline-block;
  border: 0px none;
  outline: none;
  box-sizing: border-box;
  border-bottom: 1.1px solid #b4b2b1;
}

.loginInput input:focus {
  border-bottom: 2px solid #0081CF;
}

.login {
  box-sizing: border-box;
  margin-top: 10%;
  margin-left: 33%;
  margin-right: 33%;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 1em;
  background: white;
}

.btn {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 0.5em 3em;
  margin: 2em auto;
  display: block;
  border: 0px none;
  background: #0081CF;
  border-radius: 3px;
  color: white;
}