.addButton {
  display: flex;
  border: none;
  background: none;
  color: rgba(55, 53, 47, 0.6);
  font-family: 'Inter', sans-serif;
  padding: 0px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  color: white;
}

.todo {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.todo-is-completed .checkbox {
  border: 1px solid rgb(46, 170, 220);
  background: rgb(46, 170, 220);
}

.todo-is-completed .checkbox:hover {
  border: 1px solid rgb(46, 170, 220);
  background: rgb(46, 170, 220);
}

.todo-is-completed input {
  text-decoration: line-through;
}

.checkbox {
  width: 13px;
  height: 13px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out;
  border: 0.1em solid black;
}

.checkbox:hover {
  background: rgba(55, 53, 47, 0.08);
  border: 0.1em solid black;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
  margin: 0px;
  width: 100%;
}

.itemInput {
  font-family: 'Inter', sans-serif;
  border: none;
  outline: none;
  width: 100%;
}

.item-is-completed {
  color: rgb(180, 185, 196);
}