/* @import url('https://rsms.me/inter/inter.css');
html, body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html, body { font-family: 'Inter var', sans-serif; }
} */

body {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background: rgb(204, 222, 233); */
  background: linear-gradient(180deg, #c4c6e9 0%, rgb(170, 207, 229) 80%);
}

.homeHeader {
  color: white;
  text-align: center;
}

.header {
  padding: 0px 10px;
}

.logout {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.homeContainer {
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
  font-size: 18px;
  color: #0081CF;
}

.boxLeft {
  box-sizing: border-box;
  float: left;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
  width: 25%;
  border-radius: 4px;
  padding: 1em;
  background: white;
  margin-bottom: 2%;
  margin-right: 2%;
}

.boxRight {
  float: right;
  box-sizing: border-box;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
  width: 73%;
  border-radius: 4px;
  padding: 1em;
  background: white;
  margin-bottom: 16px;
}

table {
  width: 100%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  table-layout: fixed;
}

thead {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

tr {
  height: 30px;
}

th {
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

td {
  text-align: center;
  word-wrap: break-word;
}

.choreForm {
  margin-top: 20px;
  float: left;
}

.addChoreButton {
  float: left;
  border: none;
  background: none;
  color: rgba(55, 53, 47, 0.6);
  font-family: 'Inter', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
}

.choreInput {
  float: left;
}

.choreInput input{
  float: left;
  font-family: 'Inter', sans-serif;
  width: 100px;
  border: 1.1px solid #b4b2b1;
  border-radius: 0.3em;
  padding-left: 0.3em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  outline: none;
  box-sizing: border-box;
  margin-top: 5px;
  margin-right: 10px;
}

.choreInput input:focus {
  border: 2px solid #0081CF;
}

select {
  margin-top: 5px;
  margin-right: 10px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  font-family: 'Inter', sans-serif;
  border: 1.1px solid #b4b2b1;
  border-radius: 0.3em;
}

.submitChore {
  font-family: 'Inter', sans-serif;
  padding: 0.4em 1em;
  border: 0px none;
  background: rgb(67, 167, 230);
  border-radius: 3px;
  color: white;
}

.chorestyle {
  border-radius: 0.3em;
  display: block;
  background-color: #e3f2f8;
  line-height: 1rem;
  padding-left: .5em;
  padding-right: .2em;
  padding-bottom: .2em;
  margin-top: .2rem;
  margin-right: .2rem;
  word-wrap: break-all;
}

.chorestyle0 {
  border-radius: 0.3em;
  display: block;
  background-color: #e3f2f8;
  line-height: 1rem;
  padding-left: .5em;
  padding-right: .2em;
  padding-bottom: .2em;
  margin-top: .2rem;
  margin-right: .2rem;
  word-wrap: break-all;
}

.chorestyle1 {
  border-radius: 0.3em;
  display: block;
  background-color: rgb(237, 234, 247);
  line-height: 1rem;
  padding-left: .5em;
  padding-right: .2em;
  padding-bottom: .2em;
  margin-top: .2rem;
  margin-right: .2rem;
  word-wrap: break-all;
}

.chorestyle2 {
  border-radius: 0.3em;
  display: block;
  background-color: #FFE6D8;
  line-height: 1rem;
  padding-left: .5em;
  padding-right: .2em;
  padding-bottom: .2em;
  margin-top: .2rem;
  margin-right: .2rem;
  word-wrap: break-all;
}

.chorestyle3 {
  border-radius: 0.3em;
  display: block;
  background-color: #ecf1d8;
  line-height: 1rem;
  padding-left: .5em;
  padding-right: .2em;
  padding-bottom: .2em;
  margin-top: .2rem;
  margin-right: .2rem;
  word-wrap: break-all;
}

.chorestyle4 {
  border-radius: 0.3em;
  display: block;
  background-color: rgb(247, 225, 242);
  line-height: 1rem;
  padding-left: .5em;
  padding-right: .2em;
  padding-bottom: .2em;
  margin-top: .2rem;
  margin-right: .2rem;
  word-wrap: break-all;
}

.userText {
  display: block;
  float: left;
  font-size: 10px;
  color: rgb(139, 142, 145);
}

.choreText {
  display: block;
  font-size: 12px;
}